.header {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.header-address {
  display: flex;
}
.header .container .address {
  margin-left: auto;
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $subtitle;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-items:not(:last-child) {
  margin-right: 50px;
}
.nav-list-link:hover,
.nav-list-link:active,
.nav-list-link:focus {
  color: $accent-color;
}
.indicator-page {
  color: $accent-color;
  position: relative;
}
.indicator-page::after {
  position: absolute;
  display: block;
  content: '';
  min-width: 100%;
  height: 4px;
  background-color: $accent-color;
  margin-top: 28px;
}
.header-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $description;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-items:not(:last-child) {
  margin-right: 50px;
}
.header-address-link:hover,
.header-address-link:active,
.header-address-link:focus {
  color: $accent-color;
}
.address-icon-mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  color: $description;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-icon-phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  color: $description;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover,
.header-address-link:active,
.header-address-link:focus .address-icon-mail,
.header-address-link:focus .address-icon-phone {
  fill: $accent-color;
}
